nav {
    text-align: center; 
    background-color: rgb(119, 105, 182);
}

body div a{
    color: rgb(223, 178, 55);
}

header {
    width: 100%; background-color: rgb(69, 69, 85);
    height: 150px;
    margin-bottom: 20px;
}

header img {
    float:left;
    margin:10px; 
    width:100px; 
    height:100px;
}

header div {
    background-color: rgb(69, 69, 85);
    padding:10px;
}

.osnova {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.osnova div{
    background-color: rgb(119, 105, 182);
    margin-bottom: 20px;
}

.ch{
    background-color: deeppink;
}

.nch{
    background-color: blue;
}

footer{
    background-color: rgb(119, 105, 182); 
    width: 100%;
    height: 150px;
}